@use 'variables' as v;
@use 'mixins' as m;

// Estilos base
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: v.$font-family-base;
  font-size: v.$font-size-base;
  color: v.$text-color;
  background-color: v.$background;
  line-height: 1.5;
}

// Textos
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: v.$spacer;
  font-weight: 500;
  line-height: 1.2;
}

// Utilidades
.text-muted {
  color: v.$text-muted !important;
}

.w-100 {
  width: 100% !important;
}

.mb-4 {
  margin-bottom: v.$spacer * 1.5 !important;
}

// Animaciones
.fade {
  @include m.smooth-transition;
}