<div class="page-container">
        <div class="content-card">
          <app-logo class="logo"></app-logo>
          <div class="card-body p-4">
            <h2 class="text-center mb-4">Bienvenida</h2>
            
            @if (error) {
              <div class="alert alert-danger alert-dismissible fade show">
                {{ error }}
                <button type="button" class="btn-close" (click)="error = ''"></button>
              </div>
            }
  
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Usuario"
                  formControlName="username"
                  [class.is-invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
                >
                @if (loginForm.get('username')?.errors?.['required']) {
                  <div class="invalid-feedback">
                    El usuario es requerido
                  </div>
                }
              </div>
  
              <div class="mb-4">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Contraseña"
                  formControlName="password"
                  [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                >
                @if (loginForm.get('password')?.errors?.['required']) {
                  <div class="invalid-feedback">
                    La contraseña es requerida
                  </div>
                }
              </div>
  
              <button
                type="submit"
                class="btn btn-primary w-100"
                [disabled]="loading">
                @if (loading) {
                  <span class="spinner-border spinner-border-sm me-2"></span>
                }
                Entrar
              </button>
            </form>
          </div>
          <footer class="footer">
            <a href="https://github.com/OtiliaNicola" 
               target="_blank" 
               class="github-link">
              <i class="bi bi-github"></i>
            </a>
            <p class="copyright">© 2025 Otilia Nicola</p>
          </footer>
        </div>
      </div>